body{
	margin: 0;
	padding: 0;
	font-family: bahnschrift condensed;
	

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../aboutme/7.jpg);
  	width: 100%;
	height: 90vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}


header{
	height: 10vh;
	background-color: #9370db;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
	
	
	
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #000;
	color: 000;
}

.center {display:block;
	     margin-left:auto;
		 margin-right:auto;
		 width:50%;
}
.rounded img{border-radius:20%;
}

	.icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 85px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 73%;

}

 .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 30px;
  color: #00FFFF;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
  
}
.icons a:hover{
  background: #000;
}
.icons a:first-child{
  margin-left: 0px;
}